    *{
        margin: 0px;
        padding: 0px;
    }
    .out{
        border: solid 1px;
        height: 170px;
        display: flex;
    }
    #box1,#box2,#box3{
        border: solid 1px;
        height: 170px;
    }
    #box1{
        width: 170px;
    }
    #box2{
        width: 1020px;
        text-align: center;
        background-color: lightcyan;
    }
    #box3{
        width: 170px;
    }
    #clgname{
        font-size: 40px;
        color: red;
        background-color: lightcyan;
    }
    #text1{
        color: rgb(255, 0, 255);
    }
    #textscroll{
        font-size: 20px;
        color:rgb(255, 136, 0);
        font-weight: bolder;
    }
    #navbox{
        border: solid 1PX;
        height: 50PX;

    }
    ul li{
        border: solid 1px;
        height: 50px;
        width: 215px;
        float: left;
        text-align: center;
        line-height: 50px;
        font-size: larger;
        background-color: rgb(0, 255, 213);
        border-radius: 10px;
        margin-right: 5px;
        position: relative;
    }
    ul{
        list-style: none;
    }
    ul li a{
        color: rgb(0, 26, 255);
        text-decoration: none;
    }
    ul li ul li{
        display: none;
    }
    ul li:hover ul li{
        display: block;
    }
    ul li:hover {
        background-color: rgb(255, 251, 0);
    }
    #clg{
        border: solid 1px;
        height: 450px;
        z-index: ;
    }